<!DOCTYPE html>
<html>
  <head>
    <title img src="https://scubasanmateo.com/images250_/minion-clipart-side-1.jpg" width="30" height="30" class="d-inline-block align-top" alt="">MiniMinions</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body id='page-top'>
    <nav class="navbar navbar-light bg-light fixed-top">
      <a class="navbar-brand" href="#home"></a>

      <div class="logo">
        
          <img src="https://scubasanmateo.com/images250_/minion-clipart-side-1.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
          MiniMinions
        
      </div>
              

      <div class="link">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link active" href="#home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contato">Reservar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#produtos">Produtos</a>
          </li>
          <!--li class="nav-item">
            <a href="" class="btn btn-primary btn-sm active" role="button" aria-pressed="true"></a>
          </li>
          <li class="nav-item">
            <a href="#login" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">LogIn</a>
          </li-->
          <%= link_to "SignUp", new_user_password_path, method: :get%>
          <br>
          <%= link_to "LogOut", destroy_user_session_path, method: :delete%>

        </ul>
        
        
        

      </div>
    </nav>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
       
    <%= yield %>

  </body>
</html>
